.site-footer {
	padding: 4rem 0;
    margin-top: 4rem;
    background-color: #546070;
}

.footer-contact{
	font-size: 1.4rem;
	color: $gold;
	font-family: 'Playfair Display', serif;
}
.footer-logo {
	width: 250px;
}
.footer-title-white{
	font-size: 1.2rem;
	color: white;
	font-family: 'Playfair Display', serif;
	padding-top: 1.5rem;
}
.footer-title-white:after {
     background: none repeat scroll 0 0 $gold;
     bottom: -10px;
     content: "";
     display: block;
     height: 2px;
     position: relative;
     width: 40px;
 }
.footer-body{
	font-size: 0.8rem;
	color: #9d9d9c;
}