.sticky {
	display: block;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.post {
	margin-bottom: 4em;
	padding-bottom: 1em;
}

.post-thumbnail {
	margin-bottom: 1em;
}

.entry-meta,
.entry-footer {
  font-size: .75rem;
  margin: .75em 0 2em;

  .svg-inline--fa {
    color: $gray-600;
    margin-right: .3em;
  }
  span {
    margin: 0 1.5em .4em 0;
    display: inline-block;

    &:last-child {
      margin: 0;
    }

    a {
      text-decoration: none;
      color: $gray-600;

      &:hover {
        color: $gray-900;
      }
    }
  }
	.edit-link {
		.btn {
      		color: $white;

      	&:hover {
	        color: $white
	    }
	}
  }
}

/* Posts Navigation */
.nav-links {
	display: flex;
	justify-content: space-between;
}

/* Screenreaders */
.screen-reader-text {
	@include sr-only;
}

/* 404 page */
.error404 {
	.content-area {
		@include make-col-ready();
		@include make-col(12);	
	}
}

button:focus{
  outline: #ffffff;
}

body {
  font-family: 'Montserrat', sans-serif;
}
h1 {
  font-family: 'Playfair Display', serif;
}

.homeIntro{
  margin-top:15rem;
}



.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav .navbar-nav .nav-item a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.openbtn {
  position: relative;
  font-size:36px;
  cursor:pointer;
}

.closebtn {
    position: relative;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  cursor:pointer;
}
@media only screen and (max-width: 800px) {
 .topNav{
  display:none;
 }
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


